fastapi==0.110.0
uvicorn[standard]==0.27.0
python-socketio[asyncio]==5.11.1
asyncpg==0.29.0
python-dotenv==1.0.1
sqlalchemy==2.0.27
psycopg2-binary
Flask==3.0.2
Flask-CORS==4.0.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
Werkzeug==3.0.1